 <!-- <div class="head_small">
    <strong>
      <div align="left" class="tratata">
        Your Business
      </div>
    </strong>
  </div>
  <div class="text_number">
    <font size="6.5" color="#ffab00" face="Arial"><b>6</b></font>
    <font size="5" color="#000" face="Arial">/10</font>
  </div>
  <div class="image_status">
    <img src="assets\images\status.png" alt="">
  </div>
  <canvas #doughnutCanvas ></canvas>
  <div class="line"></div>
  <div class="text_under_line_1">
    <font size="2" color="#8d9293" face="Arial">Low</font>
  </div>
  <div class="text_under_line_2">
    <font size="2" color="#8d9293" face="Arial">High</font>
  </div>
  <div class="image">
    <img src="assets\images\point.png" alt="">
  </div> -->
  

