<div class="header">
  <div class="text" align="left">
    <div><strong> Your Business</strong></div>

  </div>
</div>

<div class="conteiner">
  <div class="text_number">
    <font size="6.5" color="#ffab00" face="Arial"><b>6</b></font>
    <font size="5" color="#000" face="Arial">/10</font>
  </div>
  <div class="image_status">
    <img src="assets\images\status.png" alt="">
  </div>





  <div class="cont">
		<div class="gauge-a"></div>
		<div class="gauge-b"></div>
		<div id="gauge-c"></div>
	
	</div>

  

  <div class="gauge four rischio3">
    <div class="needle" style="transform: rotate(-104deg)">
      <img src="assets\images\point.png" alt="">
  </div>
</div>


<div class="line"></div>
  <div class="text_under_line_1">
    <font size="2" color="#8d9293" face="Arial">Low</font>
  </div>
  <div class="text_under_line_2">
    <font size="2" color="#8d9293" face="Arial">High</font>
  </div>



  
</div>