
    body { 
        display: grid;
        grid-template-areas: 
          "header header "
          "nav article ";

        grid-template-rows: 75px 1fr ;
        grid-template-columns: 100px 1fr ;
  
    
        }
      header, nav, article {

      }
      header{
        z-index: 1;
        background: #34383b;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 500ms;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
      }
     .logo {
        display: flex;
        align-items: center;
        margin-left: 33px;
      }
    .logo .image_logo {
        width: 40px;
        height: 45px;
        margin-right: 10px;
      }
    .logo .text {
        color: #ffffff;
        transform: translate(0px,-4px);
        font-size: 30px;
        font-weight: 700;
      }
    .profile {
    display: flex;
    /* щоб блоки були в ряд*/
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 75px;
    }  
    .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 285px;
        height: 100%;
        background: #1e2327;
    }

    .avatar {
        margin-left: 25px;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
    }
  
    .nickname {
       
        size:2;
        color:#fff;
        font-family:'Arial';
    }
    .circle {
        height: 10px;
        width: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(38px, -50px);
    }
      
      nav{
        position: fixed;
        top: 75px;
        left: 0;
        background: #4d5f84;
        width: 100px;
        height: 100%;
      }
      .left_menu {
        position: fixed;
        top: 75px;
        left: 0;
        background: #4d5f84;
        width: 100px;
        height: 100%;
      }
      article{
        background: #f2f2f2;
        position: absolute;
        top: 75px;
        left: 100px;
        right: 0;
    
      }
      #pageHeader {
        grid-area: header;
      }
      
      #mainArticle { 
        grid-area: article;      
        }
      #mainNav { 
        grid-area: nav; 
        }
     


        .container-2{
          width: 45px;
          height: 50px;
          
          border-radius: 5px;
        }

        .container-2 input#search{
          width: 50px;
          height: 50px;
          background:  #34383b;
          border: none;
          font-size: 10pt;
          float: right;
          color: white;
          border-radius: 5px;
          -webkit-transition: width .55s ease;
          -moz-transition: width .55s ease;
          -ms-transition: width .55s ease;
          -o-transition: width .55s ease;
          transition: width .55s ease;
        }
        
      
        .container-2 .search_img{
          width: 45px;
          height: 50px;
          position: absolute;
        }
        .container-2 .search{
          width: 45px;
          height: 50px;
          position: absolute;
                 

          
        }
       
        .container-2:hover input#search{
        width: 300px;
        background:  #262626;;
        }
        input::placeholder {
          color: white;
          font-size: 1.2em;
          font-style: Arial;
        }


        .arrow {
          margin-right: 42px;
          background-color:#1e2327; 
          border: none;
          cursor: pointer;
          
      }
      .arrow:hover, .arrow:focus {
          background-color:#4f5b66;
      }
      
      .dropdown {
          float: right;
          position: relative;
          display: inline-block;
      }
      
      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #1e2327; 
          min-width: 190px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          right: 0;
         
      }
      
      .dropdown-content a {
          color:white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }
      
      .dropdown a:hover {background-color: #4f5b66;}
      
      .show {display: block;}






