
.header{
    height: 35px;
    width: 263px;
    background:  #fafafa;
    padding: 0;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
  
}
.text{
    padding: 10px; 
    color:#35373a; 
    font-family:'Arial';
    font-size: 14px;
}
.conteiner{
    height: 200px;
    width: 220px;
    margin-left: 17px;
    margin-top:20px;    
}
.image_legend{
    margin-top: 15px;
}