.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: #ffffff;
    width: 100%;
  }
.dashboard_text {
    margin-left: 44px;
    color: #6c757e;
    font-size: 30px;
    font-weight: 700;
    font-family:'Arial';
  }
.right_cub {
    width: 285px;
    height: 100%;
    background: #fafafa;
    display: flex;
    align-items: center;
    font-family:'Arial';

  }

.right_cub .image_report {
    font-size: 25;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 31px;
  }




  
  .article{
    background: #f2f2f2;
    position: absolute;
    top: 67px;
    left: 0px;
    height:483px;
    right: 0;
    margin:0px;

  }


  .text-center{text-align:center}
  .mat-newloader{ animation: 2s linear infinite mar-newlod;
    max-width: 100px;
  }
  
  @keyframes mar-newlod {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg)
    }
  }
  
  
  .mat-newloader circle {
    animation: 1.4s ease-in-out infinite both circle-animation-mat;
    display: block;
    fill: transparent;
    stroke: #ff2562;
    stroke-dasharray: 263;
    stroke-dashoffset: 260;
    stroke-width: 10px;
    transform-origin: 50% 50%;
  }
  
  
  @keyframes circle-animation-mat {
    0%,
    25% { 
      stroke-dashoffset: 260;
      transform: rotate(0);
    }
    50%,
    75% {
      stroke-dashoffset: 75;
      transform: rotate(45deg);
    }
    100% {
      stroke-dashoffset: 260;
      transform: rotate(360deg);
    }
  }