
<div class="dashboard">

    <div  class="dashboard_text">
        User Study
    </div>
    
    <div class="right_cub">
    <div class="image_report">
      <!-- <embed type="image/svg+xml" src="images/logo.svg"> -->
      <img src="assets\images\ic_Report_file.png" alt="">
    </div>
    <div  clas="report_file_text">
        
    <a  href="https://www.google.com/">Report file</a>
    </div>
    </div>
      </div>
    
    
    <body class=article>
      <div class="text-center">
        <svg class="mat-newloader" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"  >
          <circle cx="50" cy="50" r="45" fill="transperant" stroke="#f00" stroke-width="10"/>
        </svg>
      </div> 
    </body>
    