<div class="dashboard">

  <div class="dashboard_text">
    Dashboard
  </div>

  <div class="right_cub">
    <div class="image_report">
      <!-- <embed type="image/svg+xml" src="images/logo.svg"> -->
      <img src="assets\images\ic_Report_file.png" alt="">
    </div>
    <div clas="report_file_text">

      <a href="https://www.google.com/">Report file</a>
    </div>
  </div>
</div>


<div class="grid-container">
  <div class="item1">
    <app-speedometr></app-speedometr>
  </div>
  <div class="item2">
    <app-industry></app-industry>
  </div>
  <div class="item3" style="padding-top: 0; padding-bottom: 0;">
    <app-latest-activities></app-latest-activities>
  </div>
  <div class="item4">
    <app-bar-horizontal-chart></app-bar-horizontal-chart>
  </div>
</div>
<div id="grid">
  <div class="cub_left">
    <app-first-chart></app-first-chart>
  </div>
  <div class="cub">
    <app-second-chart></app-second-chart>
  </div>
  <div class="cub">
    <app-third-chart></app-third-chart>
  </div>
  <div class="cub_right">
    <app-fourth-chart></app-fourth-chart>
  </div>
</div>