<!-- <div >
    <canvas #barCanvas width="450" height="120" ></canvas>
</div>
   -->
<!-- <div class="meter">
    <span style="width:200px"><span style="width:80px;" class="progress"></span></span>
</div> -->
<div class="conteiner ">
    <div class="tech">
        <div class="tech1" style="  transform: translate(-140px,18px)">
            <strong>Technology</strong>
        </div>
        <div class="tech2" style="  transform: translate(200px,-12px)">

            <strong>7/10</strong>

        </div>

        <div class="rightpic1" style="  transform: translate(0px,-20px)">
            <img src="assets\images\ic_technology.png" alt="">
        </div>

        <div class="meter" style="  transform: translate(0px,-20px)">
            <span style="width:210px"><span style="width:80px;" class="progress"></span></span>
        </div>
    </div>
    
    <div class="assecc">
        <div class="assecc1" style="  transform: translate(-135px,18px)">
            <strong>Accessibility</strong>
        </div>
        <div class="assecc2" style="  transform: translate(200px,-12px)">

            <strong>5/10</strong>

        </div>

        <div class="rightpic2" style="  transform: translate(0px,0px)">
            <img src="assets\images\ic_Accessibility.png" alt="">
        </div>

        <div class="meter" style="  transform: translate(0px,1px)">
            <span style="width:150px"><span style="width:80px;" class="progress"></span></span>
        </div>

     
    </div>
    <div class="secure">
        <div class="secure1" style="  transform: translate(-150px,18px)">
            <strong>Security</strong>
        </div>
        <div class="secure2" style="  transform: translate(200px,-12px)">

            <strong>9/10</strong>

        </div>

        <div class="rightpic3" style="  transform: translate(0px,0px)">
            <img src="assets\images\ic_Security.png" alt="">
        </div>

        <div class="meter" style="  transform: translate(0px,1px)">
            <span style="width:270px"><span style="width:80px;" class="progress"></span></span>
        </div>
    

    </div>
</div>