
.header{
    height: 40px;
    width: 683px;
    background:  #fafafa;
    
    padding: 0;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
  
}
.text{
    padding: 10px; 
    color:#35373a; 
    font-family:'Arial';
    font-size: 14px;
}


.conteiner{

 margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
 
}

